<div class="row step-header">
  <div class="step">step6</div>
  <div class="small-12 medium-9 columns">
    {{#view 'top-nav'}}
      {{partial 'building-nav'}}
    {{/view}}
  </div>
</div>

<div class="content-container">
  <div class='left-nav'>
    <div class="content">

      <h5>Upload a photo to visualize your custom hot tub in your own backyard:</h5>

      <span class='fileinput-button button tiny round expand upload'>
        <span>Upload</span>
        {{view 'local-image'}}
      </span>
      <button {{action 'resetBackground'}} class="resetBackground tiny round expand">
        Remove
      </button>
      <span class="small">*JPG, GIF, or PNG files up to 5MB</span>

      <hr>

      <h5>Save your hot tub:</h5>

      <button {{action 'saveCanvas'}} class="tiny round expand">
        Save
      </button>

      <a id="canvas-image" onClick="ga('send', 'event', 'DYOTool', 'Save', 'Personalize-Step6', 1);">Download Image</a>

      <hr>

      <h5>Share your hot tub with friends:</h5>

      {{#unless shareImageURL}}
      <div class="share">
        <button {{action 'generateShareURL'}} class="tiny round expand share-button" onclick="ga('send', 'event', 'DYOTool', 'Share', 'Personalize-Step6', 1);">
          Share
        </button>
      </div>
      {{/unless}}

      {{#if shareImageURL}}
        {{add-this shareURL=shareURL shareImageURL=shareImageURL}}
      {{/if}}

      <hr>

      <p class="free-inspection"><a href="http://thermospas.com/get-free-site-inspection/" target="_blank">Schedule a FREE site inspection</a></p>
    </div>

    {{partial 'stepNavEnd'}}
  </div>

  <div class="small-12 medium-9 columns hot-tub-feature">
    <div class="row row-content">
      <div class="small-12 medium-12 columns">
        <div class='shell-cabinet-combo'>
          {{hot-tub-canvas
            shellImageUrl=shellImageUrl
            cabinetImageUrl=cabinetImageUrl
            backgroundImageUrl=backgroundImageUrl
            hasBackground=hasBackground
            modelName=htModel.displayName
            jets=jetOption.jetRange
            shellColor=shellColor.displayName
            cabinetColor=cabinetColor.displayName
            options=optionsText
          }}
          <div class="scale">
            <p>Resize your hot tub:</p>
            <div class="range">
              <span class="minus">&ndash;</span>
              <input type="range" id="scale-control" value="1" min="0.3" max="1.3" step="0.02">
              <span class="plus">+</span>
            </div>
            <p>Use your mouse to move the hot tub.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
